#home {
    background-image: url('img/hero.jpg');
    background-size: cover;   
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

#home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}
#home .text-center {
    position: relative;
    z-index: 2;
}
#menu .lead {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #6c757d;
}
